

.nav{
    display: flex;
    margin-top: 1%;
    gap: 5%;
    height: 10vh;
    width: 25vw;

}

.navigates{
    display: flex;
    margin-top: 7%;
    gap: 15%;
    font-family: "Montserrat";
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.navigates a{
  
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
}

